@tailwind base;
@tailwind components;
@tailwind utilities;

.inner-outline::after {
  content: "";
  position: absolute;
  inset: 2px;
  border: 2px solid indigo;
  border-radius: inherit;
  pointer-events: none;
}
